body{
	font-family: Arial, sans-serif;
}
nav{
	width: 100%;
	height: 70px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 30px;
	line-height: 70px;
	padding-left: 395px;
	float: left;
}
.menu{
	float: left;
	padding-left: 430px;
}
.menu li{
	float: left;
	color: #fff;
	line-height: 70px;
	margin-right: 40px;
	font-size: 15px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background:  url(../img/boy.png) 90% 100%/auto 90% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
}

.title_container{
	float: left;
	margin: 430px 0px 0px 405px;
	color: #2c384a;
	text-align: center;
}
.title_container h1{
	font-size: 60px;
	font-weight: bold;
	
}
.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	font-weight: bold;
	color: #79818d;
}

.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 13px;
	margin:50px 15px 0px 15px;
}

.info{
	height: 517px;
	margin: 110px 595px 0px 595px; 
	float: left;
	text-align: left;
	background: url(../img/фотка.png) 50% 20% no-repeat;

}

.info h2{
	color: #263244;
	margin:0px 300px;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 4px solid #d17700;
	padding: 0px 0px 30px 0px;

}


.infotext1{
	margin-top: 280px;

}

.info p{
	padding-bottom: 42px;
	font-size: 15px;
	float: left;
	color: #3f495a;

}

.info input{
	height: 40px;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 11px;
	margin-left:300px;
	margin-bottom: 200px;

}

.info_skills{ 
	padding: 0px 417px;
	margin-top: 100px;
	float: left;
	width: 100%;
	height: 520;
	background: url(../img/bginfoskills.jpg) center/cover no-repeat;

}
.info_skills h2{
	color: #263244;
	margin: 110px 457px 100px 457px;
	padding: 0px 0px 30px 0px;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 4px solid #d17700;

}


.info_skills div{ 
	padding-right: 50px;
	float: left;
	text-align: center;
}
.info_skills p{
	margin-top: 23px;
	width: 210px;
	color: #3f495a;
	line-height: 20px;
}
.info_skills h4{
	margin-top: 30px;
	color: #cf7600;
	font-weight: bold;
}

.refs{
	margin-top: 30px;
	float: left;
	width: 100%;
	height: 1050px;
	padding: 0px 388px;
	background: url(../img/фотка.jpg) 53% 30% no-repeat;
}

.refs h2{
	color: #263244;
	margin: 110px 520px 0px 520	px;
	padding: 0px 0px 30px 0px;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 4px solid #d17700;	
}


.refstitle{
	margin: 20px 230px 39px 230px; 
	float: left;
	text-align: left;

}
.clientinfo{
	margin-top: 590px;
	padding-right: 90px;
	float: left;
	text-align: left;
}
.projectinfo{
	width: 700px;
}

.refs h4{
	margin: 20px 0px 10px 0px;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
}

.siteref{
	float: left;
	text-align: left;
	display: inline-block; 
    background: #63b5ae;
    padding: 10px 25px; 
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
}